{% extends "base.html" %}


{% load static %}

{% block title %}Event Details - {{ object.title }}{% endblock %}
{% block content %}
<div class="card shadow-sm p-4">
  <h2 class="fw-bold text-danger">{{ object.title }}</h2>
  <p class="text-muted">📍 {{ object.location|default:"No location" }}</p>
  <p>🕒 {{ object.start_time|date:"M d, Y H:i" }} - {{ object.end_time|date:"M d, Y H:i" }}</p>
  <p>{{ object.description|linebreaks }}</p>

  <div class="mt-4 d-flex justify-content-between">
    <a href="{% url 'scheduler:event_list' %}" class="btn btn-secondary">Back</a>
  </div>
</div>
{% endblock %}
